body {
  margin: 0;
  font-family: 'Proxima Nova',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1000px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/*ПРОФИЛЬ*/

.ProfileInfo {
  background-color: #EAEAEA;
}
.ProfileLinks, .ProfileInfo {
  background-color: #EAEAEA;
  min-height: 100vh;
  width: 210px;
  padding: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


.ProfileAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
}

ul.block_link {
  list-style: none;
}

.circle_link {
  width: 24px;
  height: 24px;
  background: #C4C4C4;
  border-radius: 24px;
  margin-right: 10px;
}

.one_block_line {
  display: flex;
  flex-direction: row;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  color: #262C40!important;
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.block_line_head {
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #262C40!important;
}

.ProfileLinks{
  padding: 3% 1% 0 1%;
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px!important;
  background-color: #EAEAEA;
  min-height: 100vh;
}
.ProfileLinks .MuiTypography-body1 {
  font-size: 14px!important;
}
.ProfileLinks h5{
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px!important;
  margin-bottom: 3%;
}

.ProfileLinks .MuiAvatar-root{
  width: 24px!important;
  height: 24px!important;
  margin-right: 7px!important;
}

.ProfileLinks .MuiSvgIcon-root {
  font-size: 1rem!important;
}

.ProfileInfo{
  padding: 3% 0 0 2%;
}

.ProfileTabs .MuiTab-root{
  font-size: 14px!important;
}

.ProfileHeader h4{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #262C40;
  padding-top: 3%;
}


/*scroll tags line*/
/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  right top,
  color-stop(0.44, rgb(122, 153, 217)),
  color-stop(0.72, rgb(73, 125, 189)),
  color-stop(0.86, rgb(28, 58, 148)));
}

.rightBox {
  transition: all 0.5s ease;
}

/*ПОСЛЕДНИЕ НОВОСТИ -?- ГРУППА ИДЕЙ*/
.LNAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LNRight {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
}

.LNProfileFew {
  display: flex;
  flex-direction: column;
}

.LNLeft{
  padding: 3% 1% 0 1%;
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px!important;
  width: max-content;
  background-color: #EAEAEA;
  min-height: 100vh;
}
.LNLeft .MuiTypography-body1 {
  font-size: 14px!important;
}
.LNLeft h5{
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px!important;
  margin-bottom: 3%;
}

.LNLeft .MuiAvatar-root{
  width: 24px!important;
  height: 24px!important;
  margin-right: 7px!important;
}

.LNLeft .MuiSvgIcon-root {
  font-size: 1rem!important;
}

.block_lines{
  display: flex;
  flex-direction: column;
}

.LNProfileFew_avaname{
  display: flex;
  flex-direction: row;
}

.LNProfileFew_points{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: normal;
  color: #262C40;
  font-size: 14px!important;
  padding-top: 30px;
}

.LNProfileFew_ava{

}

.LNProfileFew_name{
  padding-left: 5%!important;
  font-size: 16px;
  line-height: 30px!important;
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: black;
}

.LNRight{
  padding: 3% 0 0 2%;
}

.LNProfileFew_head{
  font-family: Proxima Nova!important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px!important;
  text-align: left;
  color: #262C40;
  margin-bottom: 10%;
}

.LNRating{
  margin-top: 10%;
}

/*поправка цветов*/
.MuiPaper-elevation4 {
  box-shadow: none!important;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background: linear-gradient(45deg, #0057B6, #0D356C);
}

.PrivateTabIndicator-colorSecondary-13, .MuiBadge-colorSecondary{
  background-color: #C84F4F!important;
}

.MuiButton-contained {
  background-color: white!important;
}

.MuiInputBase-input {
  font: small-caption!important;
}

.MuiTypography-h4 {
  font-family: Proxima Nova!important;
}

.MuiButton-containedSizeSmall {
  padding: 4px 20px!important;
}

.MuiButton-contained{
  box-shadow: none!important;
}